@import 'utilities.css';

*{
    padding: 0;
    margin: 0;
    box-sizing:content-box;
    -webkit-font-smotthing:antialiased;
    
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

:root{

    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
}
header{
    background: var(--dark);
    height: 630px;
    clip-path:polygon(0 0, 100% 0, 100% 100%,75% 80%,0 100%);
    
}
.container
{
    max-width: 1152px;
    padding: 0 80px; 
      
}
header nav .left a {
    color: var(--pure);
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1.8rem;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav{

    padding: 2rem 0;
    font-size:0.8rem;
    
}
header nav .branding{

    margin-right: 2.5rem;
}
.hero .left img{

    width: 250px;
    margin-right: 5rem;
    border-radius: 50%;

}
.hero .right{

    color:var(--pure);
    
    
}

.hero .right h6{

    color:var(--primary); 
    font-size: 1rem;
    margin-bottom: 0.5rem;

}

.hero .right h1{

    font-size: 2.5rem;
    font-weight: 1;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.4;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    
}
.hero{
    padding: 3rem 0;
}
section
{
    margin: 6rem 0;
}
.about .left .about-me-img{

    /* border-radius: 50%; */
    height: 360px;
    margin-bottom: 30px;
    
}
section.about h1{

    margin-bottom:1rem;
    font-size:1.6rem;
    font-weight:400;
    
}  
section.about h1 span{
    color:var(--primary);
}
section.about h3{

   font-size:1rem;
   margin-bottom:1rem;
   font-weight:400;
}
section.about p{

    font-family: 'Lato',sans-serif;
    color:var(--ternary);
    line-height: 1.9;
}  
               
section.about .social{
    display: flex;
}

section.about .social a{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    /* margin-top: 1rem; */
    /* background-color:var(--primary); */
    border-radius: 50px;
    align-items: center;
     width: 45px;
    height: 45px;
    box-shadow:02px 1px rgba(0,0,0,.5);  
}

section.about .social a:hover{

    transition: all 0.3s linear;
    transform:translate(0,-5px);  
    background-color: var(--dark);
    color: var(--pure);
    
}

section.about .social a:hover .img{
    color: var(--pure);
}
section.about .social a.b:hover{
    background-color: #0A66C2;
}

section.about .social a.c:hover{
    background-color: #3b5999;
}

section.about .social a.d:hover{
    background-color: #E4405F;
}

section.about .social a.e:hover{
    background-color: #CD201F;
}

.social a{

    text-decoration: none;
}
.social .img{
    font-size:18px;
    Line-height:60px;
    transition:.6s;
    color:var(--dark)

}

.section-heading{

    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading span{
    color: var(--primary) 
}
.section-heading + p{
    color: var(--ternary);
    text-align: center;
    margin-bottom: 6rem;
    font-family: 'Lato',sans-serif;
}
section.services{
    background: var(--light);
    padding-top: 30px;
}

section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:2rem;
    grid-row-gap:5rem ;
    max-width: 60rem;
    margin-left: 7.5rem;
}
section.services .card-wrapper .card{

    background: var(--pure);
    padding: 2rem 2rem;
    position: relative;
    text-align: center;
    box-shadow:02px 1px rgba(0,0,0,.5); 
    transition: all .3s ease;
    
   
}
section.services .container{
    height: 700px;
    padding-top: 20px;
}
.fa-solid{
    width: 50px;
    height: 35px;
    font-size: 20px;

    background: var(--primary);
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow:02px 1px rgba(0,0,0,.7);
    /* border-radius: 8px; */
    padding-top: 1rem;

}
.card p{

    font-family: 'Lato',sans-serif;
    color:var(--ternary);
    line-height: 1.4;
    font-size: 15px;
}
.card h3{

    font-weight:200;
    margin-bottom: 0.8rem;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
}
section.services .card-wrapper .card:hover p,section.services .card-wrapper .card:hover h3{

    color: var(--pure);
}
section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    color: var(--pure);
    clip-path:polygon(0 0, 100% 0, 100% 100%,67% 75%,0 100%);
    margin-top: -6rem;
    padding-bottom: 11rem;
}
section.freelancer h1{
    /* font-size: 2rem; */
    padding-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 1;
    
}

section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato',sans-serif;
}