.flex{

    display: flex;
}

.items-center{
    align-items: center;
}
.justify-between
{
    justify-content: space-between;
}
.btn{

    padding: 10px 3.5rem;    
    font-weight: 500;
    font-size: 15px;
    border: 2px solid transparent;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: all .3s ease;
    border-radius: 5px;
}
.btn-primary{
    background-color:var(--primary);
    
}
.btn-primary:hover{
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
    
}
.btn-secondary{

    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
    
}
.btn-secondary:hover{

    background-color: var(--primary);
    color: var(--dark);
   
}
.flex-1{
    flex: 1;
}

.justify-center{
    justify-content: center;
}