.flex{

    display: flex;
}

.items-center{
    align-items:center;
}
.items-start
{
    align-items: flex-start;
}
.justify-center
{
    justify-content:center;
    
}
.justify-end
{
    justify-content: flex-end;
}
.justify-start
{
    justify-content: flex-start;
}
.justify-around{
    justify-content: space-around;
}
.btn{

    padding: 0.7rem 1.8rem;    
    font-weight: 500;
    border: 2px solid transparent;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: all .3s ease;
    border-radius: 3px;
}
.btn-primary{
    background-color:var(--primary);
    
}
.btn-primary:hover{
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
    
}
.btn-secondary{

    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
    
}
.btn-secondary:hover{

    background-color: var(--primary);
    color: var(--dark);
   
}
.flex-1{
    flex:1;
}

.justify-between{
    justify-content: space-between;
}
.justify-right{
    justify-content: flex-end;
}

